code
  min-width: 100%
  max-width: 100%    
  background-color: #ddd
  padding: 3px
  padding-left: 10px
  padding-right: 10px
  margin 2px
  margin-left: 1px
  margin-right: 1px
  color: #008
  font-weight: bold
pre code  
  color: #fff  
.highlight  
  background-color: #af9
  display: grid
  margin: .55rem 0
  padding: 1rem 
  padding-top: 0rem
  padding-bottom: 0rem
  border-radius: 16px  
  pre            
    padding: 1rem
    margin: 1.5rem 0    
    box-shadow: 1.5rem 1.5rem 1.5rem rgba(0,255,0,0.88)
    border-radius: 12px
    overflow-x: auto
    text-indent: -0.7rem        
    background-color: #222 !important    
  pre code
    background-color: #222
